In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
df = pd.read_csv("../data/qsar_fish_toxicity.csv",sep=";", names = ["CIC0","SM1_Dz(Z)","GATS1i","NdsCH","NdssC","MLOGP","LC50[-LOG(mol/L)]"])

In [3]:
df

      CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP  LC50[-LOG(mol/L)]
0    3.260      0.829   1.676      0      1  1.453              3.770
1    2.189      0.580   0.863      0      0  1.348              3.115
2    2.125      0.638   0.831      0      0  1.348              3.531
3    3.027      0.331   1.472      1      0  1.807              3.510
4    2.094      0.827   0.860      0      0  1.886              5.390
..     ...        ...     ...    ...    ...    ...                ...
903  2.801      0.728   2.226      0      2  0.736              3.109
904  3.652      0.872   0.867      2      3  3.983              4.040
905  3.763      0.916   0.878      0      6  2.918              4.818
906  2.831      1.393   1.077      0      1  0.906              5.317
907  4.057      1.032   1.183      1      3  4.754              8.201

[908 rows x 7 columns]

In [4]:
#Checking the dataframe for missing values
df.isna().sum()

CIC0                 0
SM1_Dz(Z)            0
GATS1i               0
NdsCH                0
NdssC                0
MLOGP                0
LC50[-LOG(mol/L)]    0
dtype: int64

Since there are no missing values in this dataset, we can move on to the next step which is data modeling